/*Basic styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #000; */
    color: #008b8a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 64px;
}

#movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    /* background-color: green; */
}

.movie {
    position: relative;
    /* background-color: red; */
}

.movie .poster {
    width: 100%;
    object-fit: cover;
}

.movie .overview {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), #008b8a);
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 85% 4% 0 4%;
    opacity: 0;
    transform: all 0.5s ease;
}

.movie:hover .overview {
    opacity: 1;
}
/* #movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding: 20px;
}

.movie {
    position: relative;
    border: 1px solid #ccc;
    /* width: ; 
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
}

.movie .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: all 0.5s;
    margin-bottom: 10px;
}

.synopsis {
    width: 100%;
    height: 100%;
    text-align: left;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background:linear-gradient(rgba(0,139, 138));
    transition: all 0.3s ease
}

 .movie h3 {
    margin: 10px 0;
    font-size: 1.2em;
} 

.movie:hover {
    transform: translateY(-10px);
    border: 2px solid #008b8a;

}

.movie:hover .synopsis {
    opacity: 1;
} */