/*Basic styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLLABORATION COMMENTS */
/* In an effort to make the page feel interactive, I've made the descriptions concerning the movie to appear when movie is hovered */
/* Overview code- line 49*/
/* Overview hover- line 66 */
/* Styling of genre-filter- line 33 */


body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #000; */
    color: #008b8a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 64px;
}

#genre-filter {
    border: 1px solid #ccc;
    width: 250px;
    height: 25px;
    padding: 5px;
    border-radius: 10px;
}

#genre-filter:focus {
    outline: none;
    border: 2px solid #008b8a;
}


#movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    /* background-color: green; */
}

.movie {
    position: relative;
    /* background-color: red; */
}

.movie .poster {
    width: 100%;
    object-fit: cover;
}

.movie .overview {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), #008b8a);
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 85% 4% 0 4%;
    opacity: 0;
    transform: all 0.5s ease;
}

.movie h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.movie:hover .overview {
    opacity: 1;
}